<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LegendaryClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <LegendaryClient.Properties.Settings>
      <setting name="SavedUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Region" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPageImage" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableLoginMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkTheme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusMsg" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="GatherStatistics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DevVersion" serializeAs="String">
        <value>4.7.8</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="Guid" serializeAs="String">
        <value />
      </setting>
      <setting name="UseAsBackgroundImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRecordGames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="warnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="incognitoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devKeyLoc" serializeAs="String">
        <value />
      </setting>
      <setting name="updateRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="PBELocation" serializeAs="String">
        <value />
      </setting>
      <setting name="KRLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="LiveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="GarenaLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="PickBanFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PickBanFlash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReplayServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultGarenaRegion" serializeAs="String">
        <value>PH</value>
      </setting>
      <setting name="AutoPlay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableClientSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysChatTimestamp" serializeAs="String">
        <value>False</value>
      </setting>
    </LegendaryClient.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
