<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LegendaryClient.Patcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <LegendaryClient.Patcher.Properties.Settings>
      <setting name="Region" serializeAs="String">
        <value>NA</value>
      </setting>
      <setting name="CurrentGCVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="UpdateRiotClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentRCVersino" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="UseP2P" serializeAs="String">
        <value>False</value>
      </setting>
    </LegendaryClient.Patcher.Properties.Settings>
  </userSettings>
</configuration>
